body {
	min-width: 800px;
	min-height: 600px;
}
.jqplot-axis {
	font-size: 12px;
	color: grey;
}
.jqplot-highlighter-tooltip {
	font-size: 12px;
	color: grey;
	background-color: white;
}
.jqplot-cursor-tooltip {
	font-size: 12px;
	color: grey;
	background-color: white;
}